<nav class="navbar navbar-expand-lg navbar-dark bg-dark " role="navigation">

    <a class="navbar-brand" routerLink="/home">
        <img src="assets/logo.png" alt="" height="38" width="38">
    </a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776;
    </button>
    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
        <ul class="nav navbar-nav">
            <li class="nav-item" *ngIf="userType=='EN'"><a routerLink="/viajes-encargado" class="nav-link">Viajes</a></li>
            <li class="nav-item" *ngIf="userType=='CL'"><a routerLink="/viajes-clientes"  class="nav-link">Mis Viajes</a></li>
            <li class="nav-item" *ngIf="userType=='CH'"><a routerLink="/viajes-chofer"    class="nav-link">Mis Viajes</a></li>
            <li class="nav-item" *ngIf="userType=='EN'"><a routerLink="/vehiculos"        class="nav-link">Vehículos</a></li>
            <li class="nav-item" *ngIf="userType=='EN'"><a routerLink="/empleados"        class="nav-link">Choferes</a></li>
    
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
            <li class="nav-item">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalPassword">{{labelUsuario}}</button>
            </li>
            <li class="nav-item order-2 order-md-1" *ngIf="isLogued==true">
                 <div class="btn-group" style="height:50;width:252;">
                    <a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown">
                        <i class="fa fa-cog fa-fw fa-lg"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" (click)="restoreDB()">Restaurar BBDD</a>
                      <a class="dropdown-item" (click)="logOut()">Cerrar sesión</a>
                    </div>
                  </div>
            </li>
        </ul>
    </div>

</nav>


<!-- ***************************************************************************************************************** 
     ******************************************** MODAL DE LOGIN  **************************************************** 
     ***************************************************************************************************************** -->

<div id="modalPassword" class="modal modal-dialog modal-sm fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Ingreso</h3>
                <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form" role="form" >
                    Login via
                    <div class="social-buttons">
                        <a routerLink="/home" class="btn btn-block btn-google">
                            <i class="fab fa-google"></i> Google</a>
                    </div>
                    or
                    <div class="form-group">
                        <input id="emailInput" name="emailInput" placeholder="Email" class="form-control form-control-sm" type="email" [(ngModel)]="emailInput" email  >                    
                    </div>
            
                    <div class="form-group">
                        <input id="passwordInput" name="passwordInput" placeholder="Password" class="form-control form-control-sm" type="password"  [(ngModel)]="passwordInput" >
                    </div>
                    <div class="form-group text-center">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Elegir usuario
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="setUsuario('CL')">Cliente</a>
                                <a class="dropdown-item" (click)="setUsuario('CH')">Chofer</a>
                                <a class="dropdown-item" (click)="setUsuario('EN')">Encargado</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button   data-dismiss="modal"  class="btn  btn-block" (click)="login()">Confirmar</button>
                    </div>
                    <div class="form-group text-center">
                        <small>
                            <a routerLink="/contacto" data-dismiss="modal">Olvidó su clave?</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>