<app-my-nav-bar class="mb-5"></app-my-nav-bar>
<br><br>

  <div class="container mt-5">

    <h4 align="center">Viajes</h4>
  
    <div class="row row-header row-border">
      <div class="col-xs-6 col-md-1 col-lg-1">#</div>
      <div class="col-xs-6 col-md-2 col-lg-2">Cliente</div>
      <div class="col-xs-6 col-md-1 col-lg-1">Coche</div>
      <div class="col-xs-6 col-md-2 col-lg-2">Fecha</div>
      <div class="col-xs-6 col-md-2 col-lg-2">Monto</div>
      <div class="col-xs-6 col-md-4 col-lg-4">Estado</div>
    </div>
    <div class="row row-child row-border" *ngFor="let viaje of aViajes">
      <div class="col-xs-6 col-md-1 col-lg-1 col-border">{{viaje.idViaje}}</div>
      <div class="col-xs-6 col-md-2 col-lg-2 col-border">{{viaje.cliente}}</div>
      <div class="col-xs-6 col-md-1 col-lg-1 col-border">{{viaje.idVehiculo}}  <a (click)="test()"><i class="fas fa-car"></i></a></div>
      <div class="col-xs-6 col-md-2 col-lg-2 col-border">{{viaje.fechaViaje}}</div>
      <div class="col-xs-6 col-md-2 col-lg-2 col-border">${{viaje.monto}}</div>
      <div class="col-xs-6 col-md-2 col-lg-2 col-border">{{viaje.estado}}</div>
      <div class="col-xs-6 col-md-2 col-lg-2 col-border mx-auto" >
        <button type="button" class="btn btn-sm btn-danger btn-position">Borrar</button>
        <!--<button type="button" class="btn btn-info btn-sm  btn-position">Detalle</button>-->
      </div>
  
    </div>
    </div>