<div class="container" align="center">


    <div class="jumbotron mt-5 p-4">
      <h1 class="display-4">Nuevo viaje</h1>
      <form [formGroup]="frmNuevoViaje" (ngSubmit)="confirmar()">
        <div class="row ">
          <div class="col">
  
            <!-- domicilioOrig -->
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Domicilio origen</span>
              </div>
              <input type="text" class="form-control" formControlName="domicilioOrig">
              <span class="invalid m-1" *ngIf="frmNuevoViaje.get('domicilioOrig').errors?.required && frmNuevoViaje.get('domicilioOrig').touched">Campo obligatorio.</span>
            </div>
  
            <!-- domicilioDest -->
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Domicilio destino</span>
              </div>
              <input type="text" class="form-control" formControlName="domicilioDest">
              <span class="invalid m-1" *ngIf="frmNuevoViaje.get('domicilioDest').errors?.required && frmNuevoViaje.get('domicilioDest').touched">Campo obligatorio.</span>
            </div>
  
            <!-- fecha y hora -->
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Fecha y hora</span>
              </div>
              <input type="datetime-local" class="form-control" formControlName="fechahora">
              <span class="invalid m-1" *ngIf="frmNuevoViaje.get('fechahora').errors?.required && frmNuevoViaje.get('fechahora').touched">Campo obligatorio.</span>
            </div>
  

            <!-- <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

  
            <!-- Combo medio de pago -->
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Medio de pago</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" (click)="setMedioPago('EF')">Efectivo</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="setMedioPago('CC')">Cuenta corriente</a>
                </div>
              </div>
              <input type="text" class="form-control" placeholder='{{txtMedioPago}}' readonly style="background-color: white; opacity: 1;"
                formControlName="medioPago">
              <span class="invalid m-1" *ngIf="frmNuevoViaje.get('medioPago').errors?.required  && frmNuevoViaje.get('medioPago').touched">Campo obligatorio.</span>
            </div>

  
  
          </div>
  
        </div>
  
        <button class="btn btn btn-outline-secondary mt-5 mr-3" routerLink="/viajes-cliente">Cancelar</button>
        <button class="btn btn-secondary mt-5" type="submit" [disabled]="frmNuevoViaje.invalid">Confirmar</button>
  
      </form>
  
    </div>
  
  
  
  
  </div>