<div class="container" align="center">


  <div class="jumbotron mt-5 p-4">
    <h1 class="display-4">Alta de chofer</h1>
    <form [formGroup]="frmAltaChofer" (ngSubmit)="confirmar()">
      <div class="row ">
        <div class="col">

          <!-- nombre -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Nombre</span>
            </div>
            <input type="text" class="form-control" formControlName="nombre">
            <span class="invalid m-1" *ngIf="frmAltaChofer.get('nombre').errors?.required && frmAltaChofer.get('nombre').touched">Campo obligatorio.</span>
          </div>

          <!-- apellido -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Apellido</span>
            </div>
            <input type="text" class="form-control" formControlName="apellido">
            <span class="invalid m-1" *ngIf="frmAltaChofer.get('apellido').errors?.required && frmAltaChofer.get('apellido').touched">Campo obligatorio.</span>
          </div>

          <!-- dni -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">DNI</span>
            </div>
            <input type="number" class="form-control" formControlName="dni">
            <span class="invalid m-1" *ngIf="frmAltaChofer.get('dni').errors?.required && frmAltaChofer.get('dni').touched">Campo obligatorio.</span>
          </div>

          <!-- cuil -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">CUIL</span>
            </div>
            <input type="number" class="form-control" formControlName="cuil">
            <span class="invalid m-1" *ngIf="frmAltaChofer.get('cuil').errors?.required && frmAltaChofer.get('cuil').touched">Campo obligatorio.</span>
          </div>

          <!-- usuario -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Usuario</span>
            </div>
            <input type="email" class="form-control" formControlName="usuario">
            <span class="invalid m-1" *ngIf="frmAltaChofer.get('usuario').errors?.required && frmAltaChofer.get('usuario').touched">Campo obligatorio.</span>
          </div>

          <!-- password -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Password</span>
            </div>
            <input type="password" class="form-control" formControlName="password">
            <span class="invalid m-1" *ngIf="frmAltaChofer.get('password').errors?.required && frmAltaChofer.get('password').touched">Campo obligatorio.</span>
          </div>

          <!-- domicilio -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Domicilio</span>
            </div>
            <input type="text" class="form-control" formControlName="domicilio">
            <span class="invalid m-1" *ngIf="frmAltaChofer.get('domicilio').errors?.required && frmAltaChofer.get('domicilio').touched">Campo obligatorio.</span>
          </div>

          <!-- telefono -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Teléfono</span>
            </div>
            <input type="number" class="form-control" formControlName="telefono">
            <span class="invalid m-1" *ngIf="frmAltaChofer.get('telefono').errors?.required && frmAltaChofer.get('telefono').touched">Campo obligatorio.</span>
          </div>

          <!-- idVehiculo -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Número de vehículo</span>
            </div>
            <input type="text" class="form-control" formControlName="idVehiculo">
          </div>

        </div>

      </div>

      <button class="btn btn btn-outline-secondary mt-5 mr-3" routerLink="/empleados">Cancelar</button>
      <button class="btn btn-secondary mt-5" type="submit" [disabled]="frmAltaChofer.invalid">Confirmar</button>

    </form>

  </div>




</div>