<div align="center" id="modalVehiculo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 align="center" >Vehículo</h3>
        <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <p *ngIf="seleccionable==true">Comodidades del vehículo</p>
        <p *ngIf="seleccionable==false">Preferencias del cliente</p>

        <!-- Checkbox Baul -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox"   [checked]="chkBaul" (change)="chkBaul = !chkBaul" [disabled]="chkBaulDisabled">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Baúl grande" disabled style="background-color: white; opacity: 1;">
          </div>  

        <!-- Checkbox UTILITARIO -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox"  [checked]="chkUtilitario" (change)="chkUtilitario = !chkUtilitario" [disabled]="chkUtilitarioDisabled">
            </div>
          </div>
          <input type="text" class="form-control" placeholder="Camioneta/utilitario" disabled style="background-color: white; opacity: 1;">
        </div>

        <!-- Checkbox AIRE ACONDICIONADO -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox"   [checked]="chkAireAcond" (change)="chkAireAcond = !chkAireAcond" [disabled]="chkAireAcondDisabled">
            </div>
          </div>
          <input type="text" class="form-control" placeholder="Aire Acondicionado" disabled style="background-color: white; opacity: 1;">
        </div>  

        <!-- Combo VEHICULOS DISPONIBLES -->
        <div class="input-group mb-3" *ngIf="userType=='EN'">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vehículo</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="setVehiculo(vehiculo)" *ngFor="let vehiculo of aVehiculos">{{vehiculo.modelo}} - {{vehiculo.anio}}</a>
            </div>
          </div>
          <input type="text" class="form-control" placeholder='{{txtVehiculo}}' disabled style="background-color: white; opacity: 1;" >
        </div>

      </div>
   

      <div class="modal-footer">
        <button class="btn btn btn-outline-secondary"             data-dismiss="modal" aria-hidden="true">Cerrar</button>
        <button class="btn btn-secondary" data-dismiss="modal" (click)="confirmar(objViaje,idVehiculo)" *ngIf="seleccionable==false">Confirmar</button>
        <button class="btn btn-secondary" data-dismiss="modal" (click)="enviarComodities()" *ngIf="seleccionable==true">Confirmar</button>
      </div> 
    
    </div>
  </div>

</div>


  <!-- ***************  SPINNER     ****************
  **************************************************************** -->
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  loadingText="Espere..."
  type="timer">
  </ngx-spinner>