

<div id="bkg" class="align-middle">

    <h1 style="font-family: 'Merriweather', serif;font-size: 300%;" class="mb-5 animated fadeInLeft">Remisería Humberto</h1>
    <h6 style="font-family: 'Montaga', serif;" class="mt-5 animated fadeInRight">Desde 1993 a su servicio</h6>
 

</div>

 



<footer class="footer mt-5">
    <div class="container">
        <span class="text-muted">© 2018 Copyright:
            <a href="https://www.google.com" rel="nofollow"> Google.com </a>
        </span>
    </div>
</footer> 