/* You can add global styles to this file, and also import other style files */
h4 {
    font-family: 'Merriweather', serif !important;
    font-size: 250%!important;
}

.marco{
    color: #000;
    background-color: transparent;
    background-image: none;
    border-color: #000;
    border: solid 1px #000000;
    border-radius: 5px!important;
}


.invalid{
    color: red;
    font-size: smaller;
}

